option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: share_a_bite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles


files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "644"
    owner: "root"
    group: "root"
    content: |
      client_max_body_size 100M;
